<mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="space-between center">

        <div fxLayoutAlign="start center">
            <button mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1 class="mat-h1">Sample Form</h1>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>