<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mt-3 p-2">

    <mat-card class="mat-elevation-z4" fxFlex="48">
        <form [formGroup]="sampleForm" (ngSubmit)="submit()">
            <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="tabIndex">
                <mat-tab label="Personal details">
                    <div fxLayout="column">

                        <h3 class="mat-h3 mt-2">Enter Personal Details</h3>

                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput formControlName="username" required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <div fxLayoutAlign="flex-end">
                            <button type="button" color="accent" mat-raised-button (click)="tabIndex = 1">Next</button>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Address">
                    <div fxLayout="column">

                        <h3 class="mat-h3 mt-2">Enter Address Details</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Billing Address</mat-label>
                            <textarea formControlName="billing" matInput></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Pin Code</mat-label>
                            <input matInput formControlName="pincode">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="phonenumber" required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <div fxLayoutAlign="flex-end">
                            <button type="button" color="accent" mat-raised-button (click)="tabIndex = 2">Next</button>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Card Details">

                    <div fxLayout="column">

                        <h3 class="mat-h3 mt-2">Enter Card Details</h3>

                        <mat-form-field appearance="outline">
                            <mat-label>Card Number</mat-label>
                            <input matInput formControlName="cardnumber" required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Secure Code</mat-label>
                            <input matInput formControlName="cvv" required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Name On Card</mat-label>
                            <input matInput formControlName="nameoncard" required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <button type="submit" color="primary" mat-raised-button >Submit</button>

                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </mat-card>


    <mat-card class="mat-elevation-z4 p-2" fxFlex="48">
        <p>{{sampleForm.value | json}}</p>
    </mat-card>


</div>