
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary: mat-palette($mat-green);
$custom-accent: mat-palette($mat-grey, A400, A100, A400);

// The warn palette is optional (defaults to red).
$custom-warn: mat-palette($mat-pink);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$custom-theme: mat-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/**base*/



.p-0{
  padding: 0 !important;
}
.p-1{
  padding: 10px !important;
}
.p-2{
  padding: 20px !important;
}
.p-3{
  padding: 30px !important;
}
.py-1{
  padding: 10px 0 !important;
}
.py-2{
  padding: 20px 0 !important;
}
.py-3{
  padding: 30px 0 !important;
}
.py-4{
  padding: 40px 0 !important;
}
.py-5{
  padding: 50px 0 !important;
}
.px-1{
  padding: 0 10px !important;
}
.px-2{
  padding: 0 20px !important;
}
.px-3{
  padding: 0 30px !important;
}
.px-4{
  padding: 0 40px !important;
}
.px-5{
  padding: 0 50px !important;
}
.pl-3{
  padding-left: 30px;
}
.my-1 {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
.m-0{
  margin: 0 !important;
}
.mt-1{
  margin-top: 10px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mt-2{
  margin-top: 20px !important;
}
.mt-3{
  margin-top: 30px !important;
}
.mr-1{
  margin-right: 10px !important;
}

